* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Noto Sans, sans-serif;
  line-height: 1;
}

body, html {
  height: 100%;
}

.container {
  max-width: 1168px;
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: var(--header-color);
  padding: 14px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.main {
  flex: 1 1 auto;
}

.footer {
  display: flex;
  color: var(--footer-color);
  box-shadow: var(--shadow-color);
  padding: 11px 0;
}

:root {
  --header-color: #1A232E;
  --footer-color: #4E5460;
  --shadow-color: 0px -2px 4px 0px rgba(223, 223, 223, 0.25);
  --filters-bg-color: #ECF0F6;
  --main-color: #212932;
  --table-color: rgba(53, 61, 106, 0.08);
  --grey-color: rgba(33, 41, 50, 0.54);
}