* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Noto Sans, sans-serif;
    line-height: 1;
}

body, html {
    height: 100%;
}
